<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/dashboard-layout}">
<head>
    <title th:text="#{lesson-management}">Bài học</title>
    <!-- PLUGINS STYLES-->
    <link th:href="@{/css/plugins/select2.min.css}" rel="stylesheet"/>
    <!-- THEME STYLES-->
    <link th:href="@{/css/main.min.css}" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES-->
</head>

<body>
<div layout:fragment="content" class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title"><i class="fa fa-home"></i> Bài học</div>
            <div class="ibox-tools">
                <a class="ibox-collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-body">
            <div id="course-tab" style="display: none">
            </div>
        </div>
    </div>

    <div class="modal fade" id="lesson-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="lesson-form">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Title</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div id="lesson-modal-alert"></div>
                            <input id="id" name="id" type="hidden" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="orderNumber">Số thứ tự bài học</label>
                            <input id="orderNumber" name="orderNumber" type="number" class="form-control"/>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">
                            <i class="fa fa-close"></i> <span>Đóng</span>
                        </button>
                        <button id="lesson-save-button" type="button" class="btn btn-danger">
                            <i class="fa fa-save"></i> <span>Lưu</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Bạn có muốn xóa bài học này không?
                    </h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        <i class="fa fa-close"></i> <span>Đóng</span>
                    </button>
                    <button id="delete-button" type="button" class="btn btn-danger">
                        <i class="fa fa-remove"></i> <span>Đồng ý</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lesson-module-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="lesson-module-form">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Title</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div id="lesson-module-modal-alert"></div>
                            <input id="lesson-id" name="lessonId" type="hidden" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="lesson-name">Tên bài học</label>
                            <input id="lesson-name" class="form-control" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="module-id">Học phần</label>
                            <select id="module-id" name="moduleId" class="form-control"></select>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">
                            <i class="fa fa-close"></i> <span>Đóng</span>
                        </button>
                        <button id="lesson-module-save-button" type="button" class="btn btn-danger">
                            <i class="fa fa-save"></i> <span>Lưu</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<th:block layout:fragment="page-level-plugins">
    <!-- PAGE LEVEL PLUGINS-->
    <script th:src="@{/js/plugins/select2.full.min.js}"></script>
</th:block>

<th:block layout:fragment="page-level-scripts">
    <!-- PAGE LEVEL SCRIPTS-->
    <script th:src="@{/js/service/service.js}"></script>
    <script th:src="@{/js/pages/lesson.js}"></script>
</th:block>
</body>
</html>
